Attempting to create a function that will take in a dataframe and push back out the appropriate url, as when looking at mttggoldfish.com's url structure, cards are identified by set name and then card name, among some other discerning factors.

In [1]:
import pandas as pd
from rapidfuzz import fuzz

ModuleNotFoundError: No module named 'rapidfuzz'

In [90]:

#Reading in test card set
mtg_cards_df = pd.read_csv('MTG_Cards.csv')
mtg_cards_df

,QUANTITY,NM_VALUE,SET_CODE,SET_NAME,NAME,RARITY,COLLECTOR_NUMBER.,FOIL,NOTES,SCRYFALL_ID
0,1,5.35,2X2,Double Masters 2022,Darksteel Plate,Rare,304,NaN,NaN,3f99fb1e-99a6-4c83-98eb-7bff23996a7f
1,1,36.56,2X2,Double Masters 2022,Mana Drain,Mythic,57,NaN,NaN,3c429c40-2389-41e5-8681-4bb274e25eba
2,1,32.83,2X2,Double Masters 2022,Mana Drain,Mythic,57,FOIL,NaN,3c429c40-2389-41e5-8681-4bb274e25eba
3,1,1.86,AFC,Forgotten Realms Commander,Gratuitous Violence,Rare,127,NaN,NaN,73a5760c-e412-4bb4-b176-cfd0e8fc8f95
4,1,2.15,AFC,Forgotten Realms Commander,Hurl Through Hell,Rare,48,NaN,NaN,47a3321c-28ed-4cd7-84d8-c8cecc09348b
...,...,...,...,...,...,...,...,...,...,...
68,1,2.93,WOC,Wilds of Eldraine Commander,Court of Ardenvale,Rare,29,NaN,NaN,af7f7659-1f20-45b6-bcd2-21879beb7849
69,1,47.53,WOT,Wilds of Eldraine: Enchanting Tales,Smothering Tithe,Mythic,67,NaN,NaN,58178dd4-c61e-4017-b2e6-2d8308ded4fd
70,2,3.21,ZNR,Zendikar Rising,Angel of Destiny,Mythic,2,NaN,NaN,9897074a-0ac4-4d1a-9aac-e77830cc5c78
71,2,4.80,ZNR,Zendikar Rising,Valakut Awakening // Valakut Stoneforge,Rare,174,NaN,NaN,228e551e-023a-4c9a-8f32-58dae6ffdf7f
72,2,6.00,ZNR,Zendikar Rising,Valakut Awakening // Valakut Stoneforge,Rare,174,FOIL,NaN,228e551e-023a-4c9a-8f32-58dae6ffdf7f

In [91]:
#Dropping irrelevent columns
mtg_cards_df.drop(columns=['NM_VALUE', 'SET_CODE', 'SCRYFALL_ID', 'NOTES'], inplace=True )
mtg_cards_df

,QUANTITY,SET_NAME,NAME,RARITY,COLLECTOR_NUMBER.,FOIL
0,1,Double Masters 2022,Darksteel Plate,Rare,304,NaN
1,1,Double Masters 2022,Mana Drain,Mythic,57,NaN
2,1,Double Masters 2022,Mana Drain,Mythic,57,FOIL
3,1,Forgotten Realms Commander,Gratuitous Violence,Rare,127,NaN
4,1,Forgotten Realms Commander,Hurl Through Hell,Rare,48,NaN
...,...,...,...,...,...,...
68,1,Wilds of Eldraine Commander,Court of Ardenvale,Rare,29,NaN
69,1,Wilds of Eldraine: Enchanting Tales,Smothering Tithe,Mythic,67,NaN
70,2,Zendikar Rising,Angel of Destiny,Mythic,2,NaN
71,2,Zendikar Rising,Valakut Awakening // Valakut Stoneforge,Rare,174,NaN
72,2,Zendikar Rising,Valakut Awakening // Valakut Stoneforge,Rare,174,FOIL

In [92]:
mtg_cards_df.describe()

        QUANTITY
count  73.000000
mean    1.191781
std     0.569052
min     1.000000
25%     1.000000
50%     1.000000
75%     1.000000
max     4.000000

In [93]:
mtg_cards_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   QUANTITY           73 non-null     int64
 1   SET_NAME           73 non-null     object
 2   NAME               73 non-null     object
 3   RARITY             73 non-null     object
 4   COLLECTOR_NUMBER.  73 non-null     object
 5   FOIL               13 non-null     object
dtypes: int64(1), object(5)
memory usage: 3.5+ KB

In [78]:
# Stripping whitespace from column names
mtg_cards_df.columns = mtg_cards_df.columns.str.replace(' ', '')
mtg_cards_df

,QUANTITY,SET_NAME,NAME,RARITY,COLLECTOR_NUMBER.,FOIL
0,1,Double Masters 2022,Darksteel Plate,Rare,304,NaN
1,1,Double Masters 2022,Mana Drain,Mythic,57,NaN
2,1,Double Masters 2022,Mana Drain,Mythic,57,FOIL
3,1,Forgotten Realms Commander,Gratuitous Violence,Rare,127,NaN
4,1,Forgotten Realms Commander,Hurl Through Hell,Rare,48,NaN
...,...,...,...,...,...,...
68,1,Wilds of Eldraine Commander,Court of Ardenvale,Rare,29,NaN
69,1,Wilds of Eldraine: Enchanting Tales,Smothering Tithe,Mythic,67,NaN
70,2,Zendikar Rising,Angel of Destiny,Mythic,2,NaN
71,2,Zendikar Rising,Valakut Awakening // Valakut Stoneforge,Rare,174,NaN
72,2,Zendikar Rising,Valakut Awakening // Valakut Stoneforge,Rare,174,FOIL

In [86]:
#Changing column names to Capitalized
columns = mtg_cards_df.columns
mtg_cards_df.columns = mtg_cards_df.columns.str.capitalize()

In [87]:
#Changing foils to 0 and 1, contemplating creating a predictive model
#after this project is complete
mtg_cards_df.replace('FOIL', 1, inplace=True)
mtg_cards_df['Foil'].fillna(0, inplace=True)
mtg_cards_df

,Quantity,Set_name,Name,Rarity,Collector_number.,Foil
0,1,Double+Masters+2022,Darksteel Plate,Rare,304,0
1,1,Double+Masters+2022,Mana Drain,Mythic,57,0
2,1,Double+Masters+2022,Mana Drain,Mythic,57,1
3,1,Forgotten+Realms+Commander,Gratuitous Violence,Rare,127,0
4,1,Forgotten+Realms+Commander,Hurl Through Hell,Rare,48,0
...,...,...,...,...,...,...
68,1,Wilds+of+Eldraine+Commander,Court of Ardenvale,Rare,29,0
69,1,Wilds+of+Eldraine:+Enchanting+Tales,Smothering Tithe,Mythic,67,0
70,2,Zendikar+Rising,Angel of Destiny,Mythic,2,0
71,2,Zendikar+Rising,Valakut Awakening // Valakut Stoneforge,Rare,174,0
72,2,Zendikar+Rising,Valakut Awakening // Valakut Stoneforge,Rare,174,1

In [94]:
mtg_cards_df['Set_name'].values

KeyError: 'Set_name'

I'm realizing here that the Set names in my list are not quite matching up with the set names as displayed on mtggoldfish.com's website. Additionally, I need to create columns denoting other features of a card, such as whether its prerelease, promo pack, bordless, anime, foil-etched, and all other factors that could be added to create the url.

In [84]:
mtg_cards_df['Set_name'] = mtg_cards_df['Set_name'].replace(' ', '+', regex=True)
mtg_cards_df

,Quantity,Set_name,Name,Rarity,Collector_number.,Foil
0,1,Double+Masters+2022,Darksteel Plate,Rare,304,0
1,1,Double+Masters+2022,Mana Drain,Mythic,57,0
2,1,Double+Masters+2022,Mana Drain,Mythic,57,1
3,1,Forgotten+Realms+Commander,Gratuitous Violence,Rare,127,0
4,1,Forgotten+Realms+Commander,Hurl Through Hell,Rare,48,0
...,...,...,...,...,...,...
68,1,Wilds+of+Eldraine+Commander,Court of Ardenvale,Rare,29,0
69,1,Wilds+of+Eldraine:+Enchanting+Tales,Smothering Tithe,Mythic,67,0
70,2,Zendikar+Rising,Angel of Destiny,Mythic,2,0
71,2,Zendikar+Rising,Valakut Awakening // Valakut Stoneforge,Rare,174,0
72,2,Zendikar+Rising,Valakut Awakening // Valakut Stoneforge,Rare,174,1

In [85]:
def set_name_url(df):
    for column in df[column]:
        for 
            url_set_name = '/' + df['Set_name'] + ''

SyntaxError: invalid syntax (2539185809.py, line 3)